.main-banner {
	height: 587px;
	padding: 30px 0px;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	-ms-justify-content: center;
	justify-content: center;

	&-content {
		max-width: 600px;
		color: $dark;
	}
	&-for {
		margin-bottom: 18px;
		text-transform: uppercase;
		@include fz(14);
		letter-spacing: 0.19em;
	}
	&-title {
		font-weight: 700;
		margin-bottom: 35px;
		line-height: 1.25;
		@include fz(43);

		span {
			font-weight: 500;
		}
	}
	.inner {
		width: 100%;
	}
}

.mini-cards {
	background: #EEE;
	padding: 70px 0px 55px;
}
.mini-card {
	display: block;
	background: $primary;
	padding: 24px 30px 28px;
	margin-bottom: 15px;
	min-height: calc(100% - 15px);
	color: #FFF;
	border-radius: 3px;

	&:hover {
		color: #FFF;
		background: $primary_hover;
	}

	&-title {
		@include fz(20);
		margin-bottom: 8px;
	}
	&-txt {
		@include fz(14);
		opacity: 0.75;
	}
}

.main-catalog {
	padding-top: 70px;
	padding-bottom: 55px;
	background: $primary;

	.inner > .row  {
		margin-bottom: 15px;
	}
}
.cat-banner {
	position: relative;
	height: 478px;
	border-radius: 4px;
	margin-bottom: 30px;

	&-title {
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		background: rgba(#FFF,.7);
		padding: 10px 40px;
		@include fz(26);
		font-weight: 700;

		a {
			color: $primary;

			&:hover {
				color: $primary_hover;
			}
		}
	}
	&-btn {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 62px;
		text-align: center;

		.btn {
			@media (min-width: 1140px) {
				min-width: 70%;
			}
		}
	}
}

.pr-card {
	position: relative;
	background: #FFF;
	border-radius: 4px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	min-height: calc(100% - 30px);
	color: $font;
	transition: box-shadow .4s;

	&:hover {
		box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.45), 0px 0px 0px 4px rgba(#FFF,0.5);
	}

	&-stickers {
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 4px 0px 0px 0px;
		overflow: hidden;
	}
	&-img {
		height: 300px;
		text-align: center;
		background: #EEE;
		border-radius: 4px 4px 0px 0px;

		img {
			max-height: 300px;
			border-radius: 4px 4px 0px 0px;
			margin: 0 auto;
		}
	}
	&-title {
		height: 114px;
		padding: 8px 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border-bottom: 1px solid #E8E9EF;
		
		a {
			display: inline-block;
			max-height: 85px;
			overflow: hidden;
			color: $primary;

			&:hover {
				color: $primary_hover;
			}
		}
	}
	&-prices {
		padding: 13px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 64px;
	}
	&-price {
		font-weight: 700;
		@include fz(26);
		color: $primary;

		&-unit {
			@include fz(12);
			line-height: 1.2;
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid #E8E9EF;
			max-width: 50%;
		}
	}
	&-precize {
		text-align: center;
		color: $primary;
		font-weight: 600;
		line-height: 1.2;
	}
}

.main-about {
	position: relative;
	overflow: hidden;

	&-content {
		padding-top: 100px;
		padding-bottom: 95px;
		padding-right: 40px;
		position: relative;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			left: -3000px;
			top: 0;
			bottom: 0;
			right: 0;
			background: #EEE;
			z-index: -1;
		}
	}
	&-img {
		
		img {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: calc(50% + 15px);
			// max-width: 750px;
			display: block;
			height: 100%;
			object-fit: cover;
			object-position: right bottom;
		}
	}
}
.col-about-content {
	flex: 0 0 57%;
	max-width: 57%;
}
.col-about-img {
	flex: 0 0 43%;
	max-width: 43%;
}

/* --- CATALOG --- */
.content {
	padding-top: 50px;
	padding-bottom: 50px;
}
.page-header {
	position: relative;
	padding: 75px 0;
	overflow: hidden;
	z-index: 1;
	padding-right: 40%;
	background: #EEF6FF;

	&-bg {
		position: absolute;
		z-index: -1;
		bottom: 0;
		right: 0;
	}
}
.page-title {
	font-weight: 400;
	line-height: 1.2;
	margin: 0;

	div {
		color: $dark;
	}
}
.breadcrumbs + .ui-title {
	margin-bottom: 45px;
}
.catalog {
	margin-bottom: 10px;
}

.about-us {
	background: #EEE;
	padding-top: 70px;
	padding-bottom: 70px;

	&-advantages {
		@media (min-width: 992px) {
			margin-top: -13px;
		}
	}
	&-advantage {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		color: $primary;

		&-icon {
			position: relative;
			flex: 0 0 70px;
			max-width: 70px;
			height: 70px;
			border: 1px solid rgba($primary,.3);
			border-radius: 35px;
			margin-right: 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				display: block;
				filter: grayscale(50%);
			}
		}
	}
}

.bg-lightblue {
	background: #EEF6FF;
}
.bg-lightpurple {
	background: #DCDCF7;
}
.bg-blue {
	background: #DCF1F7;
}


/* --- ARTICLES --- */
.article-card {
	margin-bottom: 35px;

	&-img,
	&-body {
		flex: 0 0 50%;
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}
	&-img {
		margin-bottom: 15px;
		img {
			border-radius: 3px;
			display: block;
			margin: 0;
		}
	}
	&-title {
		margin-top: -4px;
		margin-bottom: 20px;
		@include fz(26);
		font-weight: 700;
		line-height: 1.2;
	}
	&-txt {
		margin-bottom: 40px;
	}
	&-link {
		font-weight: 600;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.node {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;

	header {
		margin-bottom: 30px;
	}
	header, h1 {
		text-align: center;
	}
}

.article {

	&-container {
		max-width: 650px;
		margin: 0 auto 40px;
	}
	header {
		margin-bottom: 30px;
	}
	header, h1 {
		text-align: center;
	}

}
@media (min-width: 576px) {
	.article {
		&-body {
			position: relative;
		}
		&-floatspace {
			position: absolute;
			top: 5px;
			bottom: 0;
			width: 70px;
			left: -120px;
		}
	}
	.ui-share {
		&.float {
			position: fixed;
			top: 20px;
			z-index: 99;
		}
		&.flip-bottom {
			z-index: 99;
			position: absolute;
			bottom: -12px;
		}
		.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
			display: block;
			margin: 0px 0px 20px 0;
		}
	}
}
.ui-share {
	transition: all .1s;
	transform: translate3d(0,0,0);

	ul {
		margin-bottom: 0;
	}
	li {
		display: block;

		&:before {
			content: none !important;
		}
	}
	.ya-share2__badge {
		border-radius: 50%;
	}
	.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
		width: 70px;
		height: 70px;
		background-size: 42px;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
	.ya-share2__badge {
		background: #FFF !important;
		box-shadow: 0px 0px 15px -1px rgba(#000,.08);
	}
	.ya-share2__item_service_facebook .ya-share2__icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0014.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23b3b3b3' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	.ya-share2__item_service_twitter .ya-share2__icon {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 7.539a6.56 6.56 0 01-1.885.517 3.294 3.294 0 001.443-1.816 6.575 6.575 0 01-2.085.796 3.283 3.283 0 00-5.593 2.994A9.32 9.32 0 015.114 6.6a3.28 3.28 0 001.016 4.382 3.274 3.274 0 01-1.487-.41v.041a3.285 3.285 0 002.633 3.218 3.305 3.305 0 01-1.482.056 3.286 3.286 0 003.066 2.28A6.585 6.585 0 014 17.524 9.291 9.291 0 009.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0020 7.538z' fill='%23b3b3b3' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	.ya-share2__item_service_vkontakte .ya-share2__icon {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.623 7.66c.12-.372 0-.643-.525-.643h-1.745c-.44 0-.644.237-.763.491 0 0-.898 2.17-2.152 3.576-.406.406-.593.542-.813.542-.119 0-.271-.136-.271-.508V7.644c0-.44-.136-.644-.509-.644H10.1c-.27 0-.44.203-.44.407 0 .423.627.525.694 1.711v2.576c0 .559-.101.66-.322.66-.593 0-2.033-2.185-2.897-4.676-.17-.492-.339-.678-.78-.678H4.593C4.085 7 4 7.237 4 7.491c0 .458.593 2.762 2.762 5.813 1.44 2.084 3.49 3.202 5.338 3.202 1.118 0 1.254-.254 1.254-.678v-1.575c0-.509.101-.594.457-.594.254 0 .712.136 1.746 1.136 1.186 1.186 1.39 1.728 2.05 1.728h1.745c.509 0 .746-.254.61-.745-.152-.492-.728-1.203-1.474-2.05-.407-.475-1.017-1-1.203-1.255-.254-.339-.186-.474 0-.78-.017 0 2.118-3.015 2.338-4.032' fill='%23b3b3b3' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	.ya-share2__item_service_odnoklassniki .ya-share2__icon {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.674 6.536a1.69 1.69 0 00-1.688 1.688c0 .93.757 1.687 1.688 1.687a1.69 1.69 0 001.688-1.687 1.69 1.69 0 00-1.688-1.688zm0 5.763a4.08 4.08 0 01-4.076-4.075 4.08 4.08 0 014.076-4.077 4.08 4.08 0 014.077 4.077 4.08 4.08 0 01-4.077 4.075zm-1.649 3.325a7.633 7.633 0 01-2.367-.98 1.194 1.194 0 011.272-2.022 5.175 5.175 0 005.489 0 1.194 1.194 0 111.272 2.022 7.647 7.647 0 01-2.367.98l2.279 2.28a1.194 1.194 0 01-1.69 1.688l-2.238-2.24-2.24 2.24a1.193 1.193 0 11-1.689-1.689l2.279-2.279' fill='%23b3b3b3' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
}
.ui-tags {
	position: relative;
	padding-left: 75px;
	margin-bottom: 20px;

	&-label {
		position: absolute;
		left: 0;
		top: 0px;
	}
	a {
		display: inline-block;
		vertical-align: middle;
		margin-right: 27px;
		margin-bottom: 8px;
		@include fz(14);
		font-weight: 600;
		border-bottom: 1px solid $primary;

		&:hover {
			border-bottom-color: transparent;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}


/* --- ERROR PAGE --- */
.error-page {
	padding: 100px 0px 170px;
	background-color: #dbdfe0;
	color: $primary;

	@media (min-width: 992px) {
		background-image: url(../images/bgs/error-page.jpg), linear-gradient(90deg, #c8c9cd, #dde1e2);
		background-position: center top;
		background-repeat: no-repeat;
	}
}
.error {
	&-content {
		max-width: 500px;
	}
	&-code {
		color: #FFF;
		font-weight: 700;
		font-size: 200px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&-title {
		@include fz(34);
		font-weight: 700;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	&-descr {
		margin-bottom: 35px;
	}
}
@media (max-width: 992px) {
	.error {
		&-page {
			padding: 50px 0 70px;
			text-align: center;
		}
		&-content {
			margin: 0 auto;
		}
	}
}//992
@media (max-width: 640px) {
	.error {
		&-code {
			font-size: 28vw;
		}
		&-title {
			@include fz(28);
		}
	}
}//640


/* --- CONTACT --- */
@media (min-width: 768px) {
	.contacts-form {
		flex: 0 0 60%;
		max-width: 60%;
		border-right: 1px solid #E8E9EF;
	}
	.contacts-right {
		flex: 0 0 40%;
		max-width: 40%;
	}
}
.contacts {
	margin-bottom: 50px;
}
.contacts-form,
.contacts-right {
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
}
.contacts-row {
	margin-left: -60px;
	margin-right: -60px;
}
.contacts-block {
	margin-bottom: 40px;

	&:not(:last-child) {
		padding-bottom: 40px;
		border-bottom: 1px solid #E8E9EF;
	}
	.h3, h3 {
		margin-top: 0;
		margin-bottom: 30px;
	}
}
.contacts-form {
	.h3, h3 {
		margin-bottom: 15px;
	}
	&-hint {
		@include fz(14);
		color: #8f8f8f;

		a {
			color:#8f8f8f;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $primary;
			}
		}
	}
	.ui-label {
		@include fz(14);
	}
}

.contact-link {
	position: relative;
	display: block;
	padding-left: 26px;
	margin-bottom: 35px;
	color: $font;
	min-height: 18px;

	svg {
		position: absolute;
		left: 0;
		top: 2px;
		width: 18px;
		height: 18px;
		fill: $primary;
	}
	&:hover {
		color: $primary;
	}
}
.contact-social {
	a {
		display: inline-block;
		vertical-align: middle;
		height: 60px;
		width: 60px;
		text-align: center;
		padding: 16px;
		margin: 0px 10px 10px 0;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		background: #FFF;

		svg {
			display: inline-block;
			fill: #b3b3b3;
		}
		&:hover {
			svg {
				fill: $primary;
			}
		}
	}
}
@media (max-width: 1200px) {
	.contacts-row {
		margin-left: -30px;
		margin-right: -30px;
	}
	.contacts-form,
	.contacts-right {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media (max-width: 992px) {
	.contact-social a {
		width: 48px;
		height: 48px;
		padding: 12px;
	}
}
@media (max-width: 768px) {
	.contacts-block {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #E8E9EF;

		h3, .h3 {
			margin-bottom: 18px;
		}
	}
	.contact-link {
		margin-bottom: 20px;
	}
	.contacts-right {
		.contacts-block {
			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	.contacts {
		margin-bottom: 20px;
	}
}
@media (max-width: 576px) {
	.contacts-row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.contacts-form,
	.contacts-right {
		padding-left: 15px;
		padding-right: 15px;
	}
}


/* --- SEARCH --- */
.search {
	&-query {
		margin-top: -22px;
		margin-bottom: 50px;
		background: #EEE;
		color: $primary;
		@include fz(20);
		padding: 15px 0px;
		position: relative;
		z-index: 1;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 3000px;
			background: #EEE;
			z-index: -1;
		}
		&:before {
			left: -3000px;
		}
		&:after {
			right: -3000px;
		}

		&-query, &-results {
			font-weight: 700;
		}
		&-label {
			@include fz(14);
		}
	}
}
.search-pgn {
	position: relative;
	z-index: 1;
	padding-top: 20px;
	margin-top: 10px;
	margin-bottom: -50px;
	background: #EEE;

	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3000px;
		background: #EEE;
		z-index: -1;
	}
	&:before {
		left: -3000px;
	}
	&:after {
		right: -3000px;
	}
	.ui-pgn {
		margin-bottom: 0;
		padding-bottom: 15px;

		&-link {
			color: rgba(84, 88, 96, 0.5);

			&:hover {
				color: $font;
			}
		}
	}
}
@media (max-width: 768px) {
	.search-query {
		margin-top: -15px;
		margin-bottom: 40px;
	}
}

@media (max-width: 576px) {
	.search-query {
		@include fz(18);
	}
	.search-pgn {
		margin-top: 15px;
	}
}


.wide-banner {
	position: relative;
	height: 230px;
	overflow: hidden;

	&-img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 1920px;
		max-width: 1920px !important;
	}
}

@media (max-width: 1200px) {
	.wide-banner {
		height: (230px * 0.8);
		&-img {
			width: (1920px * 0.8);
		}
	}
}

@media (max-width: 992px) {
	.wide-banner {
		height: (230px * 0.62);
		&-img {
			width: (1920px * 0.62);
		}
	}
}

@media (max-width: 768px) {
	.wide-banner {
		height: (230px * 0.47);
		&-img {
			width: (1920px * 0.47);
		}
	}
}


@media (max-width: 576px) {
	.wide-banner {
		height: auto;
		margin-left: -25vw;
		margin-right: -25vw;

		&-img {
			width: 100%;
			position: static;
			display: block;
			transform: none;
		}
	}
}


.cookies-alert {
	position: sticky;
	z-index: 99;
	bottom: 0;
	left: 0;
	right: 0;
	background: #002E5B;
	color: #FFF;
	padding: 20px 0;
	line-height: 1.8;

	.inner {
		padding-right: 185px;
		position: relative;
	}
	&-accept {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -22px;
	}

	a:not(.btn) {
		color: #FFF;
		text-decoration: underline;
	}
	.btn-bordered {
		border-color: rgba(#FFF, .5);
		color: #FFF;
		height: 44px;
		line-height: 42px;
		padding: 0px 35px;

		&:hover {
			background-color: rgba(#FFF, .3);
			border-color: #FFF;
			color: #FFF;
		}
	}
}

@media (max-width: 992px) {
	.cookies-alert {
		line-height: 1.42;
		@include fz(14);
	}
}

@media (max-width: 576px) {
	.cookies-alert {
		text-align: center;

		.inner {
			padding-right: 15px;
		}
		&-txt {
			margin-bottom: 10px;
			text-align: left;
		}
		&-accept {
			position: static;
			margin-top: 0;
		}
	}
}


/* ---
CARD --------- */
.card-keys {
	margin-bottom: 35px;
	@extend .ui-marked;
}
.card-options {
	margin-bottom: 20px;

	h5, .h5 {
		@include fz(16);
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 18px;
	}
}
.card-option {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 12px;
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0px 15px 0px 8px;
	color: $primary;
	font-weight: 600;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;

	&-border {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border: 1px solid transparent;
		border-radius: 20px;
		transition: border .3s;
	}
	&:hover {
		.card-option-border {
			border-color: $primary;
		}
	}
	.jq-radio.checked + &-border {
		border-color: $primary;
	}
	.jq-radio {
		border-width: 3px !important;
		border-color: $primary !important;

		&.checked {
			.jq-radio__div {
				width: 100%;
				height: 100%;
				background: #67B4FF;
				margin: 0;
			}
		}
	}
}
.card-store {
	border: 1px solid $primary;
	margin-bottom: 40px;

	&-prices {
		width: 100%;
		background: #ececec;
		padding: 38px 25px 38px 45px;
		color: $primary;
		// white-space: nowrap;
	}
	&-btns {
		-ms-flex: 0 0 270px;
		flex: 0 0 270px;
		max-width: 270px;
		padding: 45px 15px;
		background: $primary;
		display: -ms-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		-ms-justify-content: center;
		justify-content: center;

		.btn {
			padding: 0px 30px;
			text-transform: uppercase;
			@include fz(14);

			&:hover {
				svg.svg-card-cart {
					fill: $font;
				}
			}
		}
	}
}
svg.svg-card-cart {
	width: 22px;
	height: 22px;
	fill: #FFF;
	top: -2px;
}
.card-amount,
.card-price,
.card-price-details {
	display: inline-block;
	vertical-align: middle;
	margin: 4px 15px 4px 0;
}
.card-prices {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}
.card-price {
	font-weight: 700;
	@include fz(36);
	color: $primary;
	line-height: 1;

	&-details {
		@include fz(12);
	}
}
.card {
	padding-bottom: 20px;
}
.card-tabs {
	padding-bottom: 60px;
	margin-bottom: 60px;
	border-bottom: 1px solid #cbcfd2;

	&-menu {
		@include fz(26);
		font-weight: 700;
		padding-bottom: 18px;
		margin-bottom: 48px;
		border-bottom: 1px solid #cbcfd2;
		white-space: nowrap;
		overflow-x: auto;

		a {
			display: inline-block;
			vertical-align: middle;
			margin: 0px 55px 5px 0;
			color: #545860;

			&:hover, &.selected {
				color: $primary;
			}
		}
	}
}
.card-tabs-menu::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.card-descr {
	max-width: 800px;
}
.card-goods {
	margin-bottom: 50px;

	h3, .h3 {
		margin-top: 0;
		margin-bottom: 40px;
	}
}
.card-imgs {
	margin-bottom: 25px;

	.fotorama__stage__frame {
		background: #ececec;
	}
	.fotorama__thumb-border {
		border-color: $primary;
	}
}

@media (max-width: 1200px) {
	.card-store {
		&-prices {
			padding: 30px 20px 30px 30px;
		}
	}
}//1200

@media (max-width: 992px) {
	.card-store,
	.card-store.flex {
		display: block;
	}
	.card-store {
		&-btns {
			max-width: 100%;
			padding: 20px;

			.btn {
				display: block;
				width: 100%;
			}
		}
	}
}//992


@media (max-width: 768px) {
	.card-store {
		&-prices {
			padding: 15px;
			justify-content: center;
		}
	}
	.card-price-details {
		margin-right: 0;
	}
}//768


@media (max-width: 576px) {
	.card-tabs-menu {
		@include fz(22);
		a {
			margin-right: 20px;
		}
	}
}//576


@media (max-width: 480px) {
	.card-price-peritem,
	.card-price-variant {
		display: inline;
	}
}//576



.slick-main {
	&-img {
		display: block;
		height: 587px;
	}
}
@media (max-width: 992px) {
	.slick-main-img {
		height: 500px;
	}
}
@media (max-width: 768px) {
	.slick-main-img {
		height: 400px;
	}
}
@media (max-width: 480px) {
	.slick-main-img {
		height: 320px;
	}
}
.slick-dots {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;

	button {
		width: 12px;
		height: 12px;
		border-radius: 6px;
		margin: 0px 4px 8px;
	}
}